@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500#.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons#.css");

@import "sidebar";
@import "colors";
@import "speakers";
@import "rollcall";
@import "stats";
@import "pie";

@banner-height: @link-height;
@header-height: 120px;
@committee-padding: 25px;
@spacing: 50px;

@button-padding: 5px;

html, body{  
  height: 100%;
  width: 100%;
  overflow: hidden;
  
  margin: 0;
  
  background-color: #eee;
  
  font-family: "Roboto";
}
#app{
  height: 100%;
}

#header{
  width: 100%;
  height: @header-height;
  
  position: absolute;
  top: 0;
  left: 0;
  
  background-color: white;
}

#committee-name{
  text-align: center;
  
  height: calc(@header-height - @banner-height);
  padding-top: @committee-padding;
  margin: 0;
  
  background-color: white;
  &:hover{
    background-color: darken(white, @small-shade);
  }
  & h3{
    margin: 0;
  }
}

#session-name{
  text-align: center;
  background-color: @shaded-blue;
  color: white;
  
  font-size: 1.5em;
  
  height: @banner-height;
  line-height: @banner-height;
  
  position: absolute;
  bottom: 0;
  width: 100%;
}

#main-content{
  transition-duration: @transition-duration;
  height: 100%;

  &.collapsed{
    transform: translateX(calc(-@sidebar-width));
  }
}

.sidebar-button{
  position: absolute;
  top: @button-padding;
  
  &.left{
    left: @button-padding;
  }
  &.right{
    right: @button-padding;
  }
}

.header-padding{
  height: @header-height;
}

.content-banner{
  position: absolute;
  top: 0;
  left: 0;
  
  background-color: @light-blue;
  
  width: 100vw;
  
  color: white;
  
  font-size: 1.3em;
  padding: 5px;
  
  &:hover{
    background-color: darken(@light-blue, @small-shade);
  }
}

.content, .content-parent{
  position: inherit;
}

.centered-parent{
  padding-top: @spacing;
  position: relative;
}

.hidden{
  display: none;
}

.ontop > div{
  z-index: 1000;
}